i {
    font-weight: 90;
    font-size: 16px;
}

nav{
	height:35px;
	border-style: round;
	border-bottom: 1px #fcfcfc solid;
	z-index: 20;

	
}

.nav_postion{
/*	position: fixed;
*/	width: 100%;
	z-index: 1;
}

.x_panel{
	border-radius: 5px;
}

.navbar{
	
}

ul{
	margin-right: 2%;
}
li{
	margin-left: 5%;
}

.navbar-brand{
	font-weight: 600;
	margin-left:3%;
	font-size: 18px; 
}

mat-card{
}