<div class="nav_postion">
	<mat-card>
		<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand"  href="#">{{appname}}</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 		aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		    	<ul class="navbar-nav ml-auto">
		      		<li class="nav-item active">
		        		<a class="nav-link waves-light" (click)="logOut()">
		        			<i class="fa fa-power-off"></i>
		        		</a>
		      		</li>
		    	</ul>
		  	</div>
		</nav>
	</mat-card>
</div>