<div class="dashboard_view">


<app-nav></app-nav>
	<div class="col-md-12">
		<mat-card>
			<div class="row">
				<div class="col-md-5 col-12 text-center">
					<img alt="Avatar" class="img-thumbnail img-responsive avatar-view"
						src="{{user_profile?.profilePic ? user_profile?.profilePic : 'assets/images/user.png'}}"
	                   style="border-radius:50%;height: 130px;margin-top: 20px;">
				</div>
				<div class="col-md-7 col-12">
					<pre>{{'First Name  : '}} <b>{{user_profile?.first_name}}</b></pre>
					<pre>{{'Last Name   : '}} <b>{{user_profile?.last_name}}</b></pre>
					<pre>{{'Username    : '}} <b>{{user_profile?.username}}</b></pre>
					<pre>{{'Email       : '}} <b>{{user_profile?.email}}</b></pre>
					<pre>{{'Phone       : '}} <b>{{user_profile?.phone}}</b></pre>
				</div>
			</div>
		</mat-card>
	</div>
</div>