<div class="row main_login_page">
	<div class="col-12 col-md-8 offset-md-2">
		<div class="x_panel">
			<div class="row">
				<div class="col-md-7 col-12 login text-center">
					<form [formGroup]="LoginForm" (ngSubmit)="onLogin()" name="login_form">
						<h3> Login Ionic5</h3>
						<h6 class="head_text"> use your email and password</h6>
						
						<mat-form-field class="full-width" appearance="outline">
	            			<mat-label> <i class="fa fa-envelope"></i> Email</mat-label>
	            			<input matInput placeholder="Email" #input autofocus formControlName="email">
	            			<mat-error *ngIf="f.email.touched && f.email.errors">
	            				<mat-error *ngIf="f.email.errors.required">{{'Email Required'}}</mat-error>
	            			</mat-error>
	        			</mat-form-field>
	        			<mat-form-field class="full-width" appearance="outline">
	            			<mat-label> <i class="fa fa-lock"></i>  Password</mat-label>
	            			<input matInput placeholder="Password" type="password" #input autofocus formControlName="password"> 
	            			<mat-error *ngIf="f.password.touched && f.password.errors">
	            				<mat-error *ngIf="f.password.errors.required">{{'Password Required'}}</mat-error>
	            			</mat-error>
	        			</mat-form-field>

		        		<div class="password_section">
		        			<a class="text-center">Forget Password?</a>
	                    </div>
	                    <div class="signin_button">
		        			<button class="btn btn-sm btn-lg" type="submit">LOG IN	
		        			</button>
		        		</div>	
	        		</form>
	        		
				</div>
				<div class="col-md-5 col-12 side_login text-center">
					<h4>Hello!. </h4>
					<h6>  Start journey with Spericon</h6>
					<button class="btn btn-sm" [routerLink]="'/register'" style="margin-top: 10px;"> Register</button>
				</div>
			</div>
		</div>
	</div>
</div>