<div class="row main_login_page">
	<div class="col-12 col-md-8 offset-md-2">
		<div class="x_panel">
			<div class="row">
				<div class="col-md-5 col-12 side_login text-center">
					<h4>Hello!. </h4>
					<h6>  Start journey with Spericon</h6>
					<h6> Explore the world</h6>
					<button class="btn btn-sm" [routerLink]="'/login'" style="margin-top: 20px;"> Login</button>
				</div>

				<div class="col-md-7 col-12 login text-center">
					<h5> Register Ionic5</h5>
					<form [formGroup]="RegisterForm" (ngSubmit)="onRegister()" name="register_form">
						<mat-form-field class="full-width" appearance="outline">
	            			<mat-label> <i class="fa fa-envelope"></i>  Username </mat-label>
	            			<input matInput placeholder="Username"  autofocus required formControlName="username">
	            			<mat-error *ngIf="f.username.touched && f.username.errors">
	            				<mat-error *ngIf="f.username.errors.required">{{'Username Required'}}</mat-error>
	            			</mat-error>
	        			</mat-form-field>
	        			<mat-form-field class="full-width" appearance="outline">
	            			<mat-label> <i class="fa fa-mobile"></i>  Phone </mat-label>
	            			<input matInput placeholder="Phone" autofocus required formControlName="phone">
	            			<mat-error *ngIf="f.phone.touched && f.phone.errors">
		            			<mat-error *ngIf="f.phone.errors.required">{{'Phone Number Required'}}</mat-error>
		            			<mat-error *ngIf="f.phone.errors.pattern">{{'Only Digits Allowed'}}</mat-error>
		            			<mat-error *ngIf="f.phone.errors.minlength || f.phone.errors.maxlength">{{'Phone Number Should be 10 digits'}}</mat-error>
		            		</mat-error>
	        			</mat-form-field>
	        			<mat-form-field class="full-width" appearance="outline">
	            			<mat-label> <i class="fa fa-envelope"></i> Email </mat-label>
	            			<input matInput placeholder="Email" autofocus required formControlName="email">
	            			<mat-error *ngIf="f.email.touched && f.email.errors">
		            			<mat-error *ngIf="f.email.errors.required">{{'Email Required'}}</mat-error>
		            			<mat-error *ngIf="f.email.errors.pattern">{{'Please Enter Valid Email'}}</mat-error>
		            		</mat-error>
	        			</mat-form-field>
	        			<mat-form-field class="full-width" appearance="outline">
	            			<mat-label> <i class="fa fa-lock"></i> Password </mat-label>
	            			<input matInput placeholder="Password" autofocus type="password" required formControlName="password">
	            			<mat-error *ngIf="f.password.touched && f.password.errors">
		            			<mat-error *ngIf="f.password.errors.required">{{'Password Required'}}</mat-error>
		            			<mat-error *ngIf="f.password.errors.pattern">{{'Password Must Contain Special Character'}}</mat-error>
		            			<mat-error *ngIf="f.password.errors.minlength">{{'Password Should be Minimum 8 Letters'}}</mat-error>
		            		</mat-error>
	        			</mat-form-field>
	        			<mat-form-field class="full-width" appearance="outline">
	            			<mat-label> <i class="fa fa-lock"></i>  Confirm Password </mat-label>
	            			<input matInput placeholder="Confirm Password" type="password" autofocus required formControlName="confirmedPassword">
	            			<mat-error *ngIf="f.confirmedPassword.touched && f.confirmedPassword.errors">
		            			<mat-error *ngIf="f.confirmedPassword.errors.required">{{'Confirm Password Required'}}</mat-error>
		            			<mat-error *ngIf="f.confirmedPassword.errors.mustMatch">{{'Password Missmatch'}}</mat-error>
		            		</mat-error>
	        			</mat-form-field>

	        			 <div class="signin_button">
		        			<button class="btn btn-sm btn-lg" type="submit">Register	
		        			</button>
		        		</div>

	        		</form>
				</div>
				
			</div>
		</div>
	</div>
</div>