.main_login_page{
	height: 100vh; 
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
}

.side_login{
	background-color: #066167;
	border:1px solid;
	height: 520px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.x_panel{
	border-radius: 15px;
	height: 520px;
	padding: 0px;
	margin:0px;
	margin-top: 65px;
}

h3{
	color: #066167;
	font-weight: 1000;
	font:bolder;
	margin-top: 80px;
	margin-bottom: 30px;
}
h5{
	color: #066167;
	font-weight: 1000;
	font:bolder;
	margin-top: 35px;
	margin-bottom: 25px;
}
h4{
	margin-top: 160px;
	font-weight: 4000;
	font-size: 28px;
    margin-bottom: 30px;
}
h6{
   font-size: 12px;
   margin-top: 10px;
}
h4,h6{
	color: white;
	font: bolder;
}

.mat-form-field {
  font-size: 11px;
  width: 60%;
  height: 70px;
  margin-left: 1%;
}

.head_text{
	color: #666;
	margin-bottom: 20px;
}
.mat-error{
	font-size: 9px;
}

button{
	background-color: #039595;
	color: white;
	font-size: 10px;
	border-radius: 25px;
	padding: 10px 45px;
}

button:hover{
	color: gold;
}

a{
	font-size: 12px;
	color:#666;
	text-decoration:none;
}
.password_section{
   padding-top: 10px;
   padding-bottom: 10px;
}
.signin_button{
	/*margin-top: 20px;*/
   margin-bottom: 10px;

}
